<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuban32.mapper.UserMapper">

    <insert id="insertUserResultID" parameterType="com.yuban32.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into t_user (id,uuid,username,password,avatar,email,role,created)
            values (#{id},#{uuid},#{username}, #{password},#{avatar},#{email},#{role},#{created});
    </insert>
    <update id="updateLastLoginTimeByID">
        update t_user set last_login=#{lastLogin} where id = #{id}
    </update>
    <update id="userEdit">
        update t_user
                <set>
                    <if test="userName !=null">username = #{userName}</if>
                    <if test="password != null">password = #{password}</if>

                </set>
                where id = #{id};
    </update>
</mapper>
